%table.kpi-table
  %thead
    %tr
      - if defined?(show_date)
        %th.first_col.right_border Date
      - else
        %th.first_col.right_border Name
      %th.graph_redraw{'data-field' => 'today'} Today
      %th.right_border.graph_redraw{'data-field' => 'today_pct_change'} % Change
      %th.graph_redraw{'data-field' => 't7days'} T7Days
      %th.right_border.graph_redraw{'data-field' => 't7days_pct_change'} % Change
      %th.graph_redraw{'data-field' => 't30days'} T30Days
      %th.right_border.graph_redraw{'data-field' => 't30days_pct_change'} % Change
      %th.right_border.graph_redraw{'data-field' => 'qtd'} QTD
      %th.right_border.graph_redraw{'data-field' => 'ytd'} YTD
  %tbody
    - stats.each do |stat|
      %tr{:class => cycle("alt", "")}
        %td.first_col.right_border
          - if defined?(show_date)
            = stat.date.strftime("%m-%d-%y")
          - else
            = link_to stat.kpi.name, kpi_path(stat.kpi)
        - ["today", "t7days", "t30days"].each do |window|
          %td.right_border
            = stat.humanize(window)
          %td.right_border
            - if stat.humanize("#{window}_pct_change").to_f > 0
              .pct_up
                = stat.humanize("#{window}_pct_change")
            - else
              .pct_down
                = stat.humanize("#{window}_pct_change")
        %td.right_border
          = stat.humanize(:qtd)
        %td.right_border
          = stat.humanize(:ytd)
