- border_right = 'border-right: 1px solid #CCC;'

%h3 #{@tag || 'Totals'} for #{@date.to_s}

%table.kpi-table{width: '100%', border: 0, cellpadding: '8px', style: 'text-align: center; border-collapse: collapse;'}
  %thead
    %tr
      %th{style: 'text-align: left'} Name
      %th Today
      %th{style: border_right} % Change
      %th T7Days
      %th{style: border_right} % Change
      %th T30Days
      %th{style: border_right} % Change
      %th QTD
      %th YTD
  %tbody
    - @stats.each do |stat|
      %tr{style: "background: #{cycle("#E5E5E5", "none")}; border-top: 1px solid #CCC;"}
        %td{style: 'text-align: left'}= stat.name
        %td= stat.humanize(:today)
        %td{style: border_right}
          .span{:style => "color: #{stat.stat_increased?(:today_pct_change) ? '#146F32' : '#400000'}"}
            = stat.humanize(:today_pct_change)
        %td= stat.humanize(:t7days)
        %td{style: border_right}
          .span{:style => "color: #{stat.stat_increased?(:t7days_pct_change) ? '#146F32' : '#400000'}"}
            = stat.humanize(:t7days_pct_change)
        %td= stat.humanize(:t30days)
        %td{style: border_right}
          .span{:style => "color: #{stat.stat_increased?(:t30days_pct_change) ? '#146F32' : '#400000'}"}
            = stat.humanize(:t30days_pct_change)
        %td= stat.humanize(:qtd)
        %td= stat.humanize(:ytd)
